############## generic files to ignore #######
*~
*.lock
*.DS_Store
*.swp
*.out

############## Mac Stuff #####################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

############## Jetbrains Stuff ###############
*.iws
workspace.xml
tasks.xml
*.iml
.idea/

############## Visual Studio ###############
*.ntvs_analysis.dat
*.suo
*.sln
*.njsproj
bin
obj

node_modules